// --- System Clock ---
IO_LOC "clk" {{.ClockPin}};
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// --- LEDs ---
IO_LOC "led" {{index .LEDPins 0}};
IO_PORT "led" IO_TYPE=LVCMOS33;
{{range $i, $pin := .LEDPins}}
{{- if gt $i 0}}
// IO_LOC "led{{add $i 1}}" {{$pin}};
// IO_PORT "led{{add $i 1}}" IO_TYPE=LVCMOS33;
{{- end}}
{{- end}}

// --- Buttons ---
{{range $i, $pin := .ButtonPins}}
// IO_LOC "btn{{add $i 1}}" {{$pin}};
// IO_PORT "btn{{add $i 1}}" IO_TYPE=LVCMOS33;
{{- end}}
{{- if eq .ProjectType "hdmi"}}

// --- HDMI (TMDS) ---
IO_LOC "tmds_clk_p" {{.HDMIPins.ClkP}};
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[0]" {{.HDMIPins.D0P}};
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" {{.HDMIPins.D1P}};
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" {{.HDMIPins.D2P}};
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
{{- end}}
